body{
    /* background-color: black; */
}
h1{
    margin-bottom: 30px;
}
.flex{
    display: flex;
}
main{
    height: 100vh;
}
.direction_colonne{
    flex-direction: column;
}
.direction_row{
    flex-direction: row;
}

.center_row{
justify-content: center;
}
.center_colonne{
    align-items: center;
}
.content_between{
    justify-content: space-between;
}
form {
    width: 300px;
    height: 300px;
}
#customFile{
display: none;
}
.logo{
    display: flex;
    justify-content: center;
    background-color: black;
    margin-bottom: 50px;
}
.error{
    margin-bottom: 5px;
    padding: 2px;
    background: #D90404;
    border: 2px solid #D90404 !important;
    color: white;
}

.file{
    height: 50px;
    width: 150px;
    background-color: blue;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    margin: 5px;
}

footer{
    width: 100% !important;
}

