/* 1 - General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #ebf3ff;
}

h1 {
    margin: 50px 0 50px 0;
    color: rgb(67, 94, 190);
    font-size: 2.5em;
}

textarea {
    width: 300px;
}

input {
    width: 300px;
    margin: 5px;
    padding: 5px;
}

input, button, textarea {
    outline: none !important;
    border: none;
}

/* 2 - Main */

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
    width: 500px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.main__content a {
    color: #435ebe !important;
}

.main__cardBilletterie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__cardBilletterie img {
    object-fit: contain;
    margin: 10px 0 10px 0;
    height: 400px;
    width: 400px;
}

.main__cardBilletterie p {
    margin: 25px 50px 25px 50px;
}

.main__cardBilletterie input {
    width: 200px;
    border-bottom: 2px solid rgba(26,54,126,0.125);
}

.main__cardBilletterie a {
    margin: 25px 0 25px 0px;
}

/* 3 - Form */

.main__form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__form form input:not(input[type="submit"]), textarea {
    border-bottom: 2px solid rgba(26,54,126,0.125);
}

.main__form form input[type="file"] {
    display: none;
}

.main__form form input[type="file"] + label {
    margin: 0 0 30px 0;
    color: rgb(67, 94, 190);
    border-bottom: 2px solid rgba(26,54,126,0.125);
}

.main__formRgpd {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.main__formRgpd input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin-left: 55px;
}

.main__formRgpd input[type="checkbox"]:hover{
    cursor: pointer;
}

.main__formRgpd label {
    margin: 0 0 20px 15px;
}

.main__form form button[type="submit"] {
    margin: 15px 0 5px 0;
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(67, 94, 190);
    color: white;
}

.main__form form button[type="submit"]:hover {
    cursor: pointer;
    background-color: #4088D6;
}

/* 4 - Table */

.main__tableau table {
    margin-bottom: 20px;
    min-height: 50px;
    text-align: center;
    border-collapse: separate !important;
    border-spacing: 0;
}

.main__tableau thead th {
    min-width: 43.2px;
    color: rgb(73, 80, 87);
}

.main__tableau td {
    color: rgb(73, 80, 87);
    border-top: 1px solid rgb(233, 236, 239);
    border-right: 1px solid rgb(233, 236, 239);
}

.main__tableau button {
    color: white;
}

/* 5 - Checkout */

.main__checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main__checkout label {
    margin: 20px 0 10px 0;
}

.main__checkout .required {
    margin: 0 20px 0 0;
}

.main__checkout + .mb-3 button {
    margin: 20px 0 10px 0 ;
}

@media screen and (orientation: portrait) {

    /* 1 - General */

    h1 {
        margin-top: 25px 0 25px 0;
        font-size: 2em;
    }

    /* 2 - Main */

    .main__content {
        width: 300px;
    }

    .main__cardBilletterie h2 {
        font-size: 1.2em;
    }

    .main__cardBilletterie h3 {
        font-size: 1em;
    }

    .main__cardBilletterie img {
        height: 300px;
        width: 300px;
    }

    .main__cardBilletterie p {
        font-size: 1em;
    }

    .main__cardBilletterie input {
        width: 200px !important;
    }

    /* 3 - Form */

    .main__content input{
        width: 250px;
    }

    .main__formRgpd {
        display: flex;
        flex-direction: column;
    }

     /* 4 - Table */

    .main__tableau th {
        display: none;
    }

    .main__tableau tbody tr {
        display: flex;
        flex-direction: column;
    }

    .main__tableau tbody td:first-child {
        border-top: none;
    }

    .main__tableau tbody td {
        padding: 10px;
        border-right: none;
    }

    /* 5 - Checkout */

    .main__checkout {
        flex-direction: column;
    }
}
